.group-product-upsell {}

.group-product-upsell .tuy-chon-san-pham-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    justify-content: center;
}

.group-product-upsell ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.group-product-upsell ul li.san-pham-list {
    position: relative;
    width: calc(33.3333333333% - 10px);
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-right: 6px;
}

.san-pham-list a {
    display: flex;
    flex-direction: column;
    outline: none;
    position: relative;
    display: block;
    color: #3d3d3d;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border: 1px dashed #ddd;
    border-radius: 4px;
}

.san-pham-list.active a {
    border-color: #3d3d3d;
}

.san-pham-list .config-name {
    display: flex;
    justify-content: center;
    width: 100%;
}

.san-pham-list .config-name::before {
    color: #c5c5c5;
    font-family: 'Font Awesome 5 Free';
    content: '\f111';
    font-weight: 300;
    margin-right: 5px;
}

.san-pham-list.active .config-name::before {
    color: #1fbf64;
    content: '\f058';
}

.san-pham-list .config-price {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.san-pham-list .config-price del {
    color: #c5c5c5;
    font-size: 12px;
    margin-right: 5px;
}

.san-pham-list .config-price ins {}


/* Style for  product filter by Price ranger */

.Wc_price_filter {}

.Wc_price_filter ul {
    background: white;
    padding: 10px 0 !important;
}

.Wc_price_filter ul li {
    font-size: 11px;
    padding-left: 20px;
    position: relative;
    margin: 5px 0px;
}

.Wc_price_filter ul li::before {
    content: '';
    display: none !important;
}

.Wc_price_filter ul li a {
    font-size: 15px;
}

.Wc_price_filter ul li a:hover {
    text-decoration: none;
    color: #b70000 !important;
}

.Wc_price_filter ul li a {
    outline: none;
    padding-left: 10px !important;
}

.Wc_price_filter ul li a::before {
    content: '';
    font-size: 15px;
    color: #222;
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 0px;
    border: 1px solid #999;
}

.Wc_price_filter ul li a:hover::before {
    content: '\f00c';
    color: #e03232;
    font-size: 13px;
    position: absolute;
    left: 0;
    border-color: #999;
    line-height: 20px;
    text-align: center;
    font-family: FontAwesome;
}

.Wc_price_filter ul li.active a::before {
    content: '\f00c';
    color: #e03232;
    font-size: 13px;
    position: absolute;
    left: 0;
    border-color: #999;
    line-height: 20px;
    text-align: center;
    font-family: FontAwesome;
}

.Wc_price_filter ul li span.count {
    margin-left: 5px;
}


/* 
    Checkout Product Suggest list
*/

.checkout-suggest-products {
    border: 2px solid #f7f7f7;
    box-shadow: 2px 3px 5px #f7f7f7;
    padding: 10px 5px 5px 0;
    position: relative;
}

.checkout-suggest-products::before,
.checkout-suggest-products::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    border: 2px solid transparent;
    width: 0;
    height: 0;
    z-index: 0;
}

.checkout-suggest-products::before {
    top: 0;
    left: 0;
    border-top-color: #60daaa;
    border-right-color: #60daaa;
    animation: border 2s infinite;
}

.checkout-suggest-products::after {
    bottom: 0;
    right: 0;
    animation: border 2s 1s infinite, borderColor 2s 1s infinite;
}


/* Style for title */

.checkout-suggest-products h3.suggest-products-title {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    position: relative;
    z-index: 9;
}

.checkout-suggest-products .suggest-products-list {
    border: 1px solid #f7f7f7;
    position: relative;
    z-index: 9;
    max-height: 180px;
    overflow-y: scroll;
    width: 100%;
}

.suggest-products-list .single-product-item {
    border-bottom: 1px solid #f7f7f7;
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.suggest-products-list .single-product-item .product-image-box {
    display: flex;
    justify-content: center;
    flex-basis: 25%;
}

.suggest-products-list .single-product-item .product-image-box img {
    height: auto;
    max-width: 60px;
}

.suggest-products-list .single-product-item .product-content-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.single-product-item .product-content-box p {
    font-size: 14px;
    margin: 0;
}

.product-content-box .product-name-and-price {
    font-size: 14px;
    flex-grow: 1;
}

.product-content-box .product-name-and-price del {
    color: #c5c5c5;
    font-size: 12px;
}

.product-content-box .product-action {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    min-width: 80px;
    text-align: center;
}

.product-content-box .product-action .checkout_single_add_to_cart_button,
.product-content-box .product-action .added_to_cart {
    font-size: 12px;
    position: relative;
    padding-left: 18px;
}

.checkout_single_add_to_cart_button::before {
    content: '\f217';
    color: #e03232;
    font-size: 16px;
    position: absolute;
    left: 0;
    border-color: #999;
    line-height: 20px;
    text-align: center;
    font-family: FontAwesome;
}

.checkout_single_add_to_cart_button.added {
    display: none;
}

.product-content-box .product-action .added_to_cart.wc-forward::before {
    content: '\f058';
    color: #e03232;
    font-size: 16px;
    position: absolute;
    left: 0;
    border-color: #999;
    line-height: 20px;
    text-align: center;
    font-family: FontAwesome;
}


/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .san-pham-list .config-price {
        font-size: 15px;
    }
    .san-pham-list .config-price del {
        font-size: 14px;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .san-pham-list .config-price {
        font-size: 16px;
    }
}

@keyframes border {
    0% {
        width: 0;
        height: 0;
    }
    25% {
        width: 100%;
        height: 0;
    }
    50% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes borderColor {
    0% {
        border-bottom-color: #60daaa;
        border-left-color: #60daaa;
    }
    50% {
        border-bottom-color: #60daaa;
        border-left-color: #60daaa;
    }
    51% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}